<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/main_styles.css">
    <title>{{title}}</title>
  </head>
  <body class="bg">
    <main>
      {{{body}}}
      <div class="center-align">
         <a href="/" class="button">Make another search</a>
      </div>
    </main>
  </body>
</html>