<article>
  <h1 class="headers">{{this.title}}</h1>
  <section class="lists">
    <ul>
      {{#each expdates}}
        <li>
          <p>{{this}}</p>
        </li>
      {{/each}}
    </ul>
  </section>
</article>