<article>
  <h1 class="headers">{{this.title}}</h1>
  <section class="lists">
    <ul>
      {{#each expdates}}
      <h2>{{this.Category}}</h2>
      {{#each expdates.Products}}
        <li>
          <p>{{this.[2].Name}}</p>
        </li>
      {{/each}}
      {{/each}}
    </ul>
  </section>
</article>